### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Unit test / coverage reports
.pytest_cache/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

### VisualStudioCode ###
.vscode/*
